:root {
    --primary-color: #007C91; 
    --secondary-color: #D4AF37;
    --accent-color: #00695C; 
    --background-color: #f9f9f9;
    --text-color: #333;
    --font-family: Roboto, helvetica, sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: var(--font-family);
    background-color: var(--background-color);
    color: var(--text-color);
}
header {
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    padding: 1rem;
    font-size: 1.8rem;
    font-weight: bold;
}
main {
    position: relative;
}

.data-panel {
    position: absolute;
    top: 10%; 
    left: 5%; 
    background-color: rgba(0, 105, 92, 0.85);
    color: white;
    padding: 1rem;
    border-radius: 8px;
    width: 250px;
}

.data-panel h2 {
    margin-bottom: 0.5rem;
    font-size: 1.4rem;
    border-bottom: 2px solid var(--secondary-color);
    padding-bottom: 0.3rem;
}
.data-panel ul {
    list-style: none;
    margin-top: 0.5rem;
}

.data-panel li {
    margin: 0.4rem 0;
    font-size: 0.95rem;
}

.hero {
    height: 100vh; 
    overflow: hidden
}

.hero picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.weather-panel {
    position: absolute;
    top: 55%; 
    right: 5%; 
    background-color: rgba(0, 105, 92, 0.85);
    color: white;
    padding: 1rem;
    border-radius: 8px;
    width: 250px;
}

.weather-panel h2 {
    margin-bottom: 0.5rem;
    font-size: 1.4rem;
    border-bottom: 2px solid var(--secondary-color);
    padding-bottom: 0.3rem;
}
.weather-panel p {
    margin: 0.4rem 0;
    font-size: 0.95rem;
}

.weather-title {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.weather-title::after {
    content: "☀️";
    font-size: 1.5rem;
    margin-left: .5rem;
}
.weather-title img {
    display: none;
    width: 28px;
    height: 28px;
}
footer {
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    padding: 2rem;
    font-size: 0.9rem;
}

@media (max-width: 850px) {
    main {
        display: block; 
        padding: 0;
    }
    .data-panel, .weather-panel {
        position: static; 
        width: 100%;
        max-width: 800px;
        margin: 1rem auto;
        background-color: white; 
        color: black;
        text-align: center;
        border-radius: 0;
        box-shadow: none;
    }
    .data-panel h2, .weather-panel h2 {
        text-align: center;
        font-size: 1.5rem;
        border-bottom: none;
        margin-bottom: 1rem;
    }

    .data-panel ul {
        padding: 0 1rem;
    }

    .weather-panel p {
        padding: 0 1rem;
    }    

    .weather-title::after {
        content: ""; /* Remove emoji */
        }

    .weather-title {
        flex-direction: column;
        align-items: center;
        }
    .weather-title img {
         width: 50%;   
        display: block; 
        margin-top: 0.5rem;
        width: 80px; 
        height: 80px;
        }
    footer {
        width: 100%;
        text-align: center;
        font-size: 0.9rem;
        padding: 1rem;
    }
}