.wf1 fieldset {
    margin: 2rem 0;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: .5rem 2%;
}

.wf1 legend {
    color: #0f65cc;
    padding: 0 .5rem;   
}

.wf1 label {
    display: block;
    padding-top: 1rem;
    color:#0d1b2a ;
    font-size: .9rem;
}
.wf1 div {
    padding-top: 1rem;
    color:#445ba9 ;
    font-size: .9rem;
}

.wf1 input[type="text"],
.wf1 input[type="email"],
.wf1 input[type="url"],
.wf1 select
{
    background-color: #eee;
    display: block;
    border: solid 1px #999;
    border-radius: 6px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 400px;
    appearance: none;
}
.wf1 textarea{
    background-color: #eee;
    display: block;
    border: solid 1px #999;
    border-radius: 6px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
}


.wf1 input[type="submit"]{
    border: none;
    background-color: #0f65cc;
    color: #fff;
    border-radius: 6px;
    padding: .8rem;
    width: 100%;
    max-width: 400px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    box-shadow: 1px 1px 4px #999;
    display: block;
}

.wf1 input[type="submit"]:hover{
    cursor: pointer;
    background-color: #ff7f11;
    transition: background-color 0.3s ease;
}

.wf1 input:required {
    border-left: solid 8px #ff7f11 ;
}
.wf1 input:required:valid {
    border-left: solid 8px #0f65cc;
}
